.button {
  color: _palette(text-inverse) !important;
  font-family: _font(family);
  text-transform: uppercase;
  text-decoration: none;
  background: _palette(link);
  padding: 12px;
  // border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  text-align: center;
}

.button:hover {
  color: _palette(text-inverse) !important;
  background: _palette(hover);
  // border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

// video player control buttons

.player-btn {
  color: _palette(text);
  font-size: 36px;
  transition: all 0.4s ease 0s;
}

.player-btn:hover {
  color: _palette(hover);
  transition: all 0.4s ease 0s;
}
