.entry {
  background-color: _palette(bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  width: 80vw;
  max-width: 800px;
  min-width: 300px;
}

.col-wrapper {
  display: flex;
  height: 185px;
}

.kanji-info {
  display: flex;
  padding: 1em;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100px;
}

.subheader-2 {
  padding: 3px 5px;
}

.entry-text {
  padding: 3px 5px 10px 5px;
}

.kanji-radical {
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100px;
}

.kanji-radical .subheader-1 {
  flex-basis: 100%;
  text-align: center;
}

.radical-img {
  display: flex;
  align-items: center;
  height: 40px;
}

.radical-img img {
  height: 35px;
  width: 35px;
}

.radical-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40px;
}

.radical-strokes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.kanji-examples {
  flex-basis: 100%;
  width: 50%;
  padding: 1em;
  max-width: 500px;
}

.example {
  display: flex;
  justify-content: space-between;
}

.example-jp {
  // width: 100%;
}
