.kanji-animation {
  padding: 1em;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kanji-wrapper {
  position: relative;
  height: 248px;
  width: 248px;
  overflow: hidden;
}

.kanji-img {
  position: absolute;
  z-index: 3;
}

.kanji-img img {
  height: 100%;
  width: 100%;
}

#player-controls {
  display: flex;
  flex-direction: column;
}

.control-row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.video-react {
  padding-top: 0 !important;
}

.video-react video {
  height: 248px;
  width: 248px;
  padding-top: 0;
}

.stroke-frames {
  display: flex;
  width: 248px;
}
