$font: (
  family: ('Heebo', sans-serif),
  weight: 300,
  weight-bold: 600,
  weight-heading: 200,
  weight-heading-bold: 700
);

// colors
$palette: (
  bg: #ffffff,
  bg-secondary: #F3FCF2,
  bg-inverse: #028090,
  bg-inverse-secondary: #114B5F,
  text: #000,
  text-secondary: #114B5F,
  text-inverse: #F3FCF2,
  link: #028090,
  hover: #01A9BF
)
